body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-image: url('img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f8f8f2;
}

header {
  background-color: rgba(40, 44, 52, 0.9);
  color: #61dafb;
  padding: 15px 0;
  text-align: center;
  font-size: 2em;
}

main {
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px;
  border-radius: 10px;
  flex: 3;
}

.users {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: left;
}

.users ul {
  list-style-type: none;
  padding: 0;
}

.users li {
  background-color: rgba(255,
  255, 255, 0.1);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

footer {
  background-color: rgba(40, 44, 52, 0.9);
  color: #61dafb;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.form-container {
  position: fixed;
  left: 40px;
  bottom: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 250px;
}

.form-container h2 {
  color: #61dafb;
  margin: 0 0 15px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
}
